* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}

.app > img {
  width: auto;
  height: 200px;
}

.app > a {
  padding: 20px;
  border-radius: 99px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  background-color: #1db954;
}
.flex {
  display: flex;
}
